# TITLE

## 1. Defining the Question

## Thyroid disease is a common cause of medical diagnosis and prediction, with an onset that is difficult to forecast in medical research. The thyroid gland is one of our body's most vital organs. Thyroid hormone releases are responsible for metabolic regulation. Hyperthyroidism and hypothyroidism are one of the two common diseases of the thyroid that releases thyroid hormones in regulating the rate of body's metabolism.

# Question:
### ```The main goal is to predict the estimated risk on a patient's chance of obtaining thyroid disease or not.```

## 2) Defining the Metric for Success

### 
### 
###

## 3) Understanding the context

# ToolBox

> Contains libraries and helper functions.

In [2]:
# Libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

# regression and classiffier models
from sklearn.model_selection import train_test_split
# Import mean_squared_error as MSE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.tree import plot_tree


# Decision Trees and Random Forest
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.ensemble import AdaBoostRegressor
# Tree visualizations
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image  
import pydotplus


# SVM
# Import Suport Vector Classifier module from svm library. We'll use SVC to model our data
from sklearn.svm import SVC,LinearSVC
from sklearn.model_selection import train_test_split
# Import scikit-learn metrics module for accuracy calculation
from sklearn.svm import SVC
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

# Data Loading.

In [4]:
# load our data
df_hp = pd.read_csv("/home/eliud_luda/Desktop/iNeuron_Internship/Proj_1/data/hypothyroid.csv")

# E.D.A

## Data Exploration.

In [5]:
# check first 5 values of our data
df_hp.head()

,hypothyroid,72,M,f,f.1,f.2,f.3,f.4,f.5,f.6,...,y.1,0.60,y.2,15,y.3,1.48,y.4,10,n,?
0,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
1,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
2,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
3,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?
4,hypothyroid,85,F,f,f,f,f,t,f,f,...,y,1.10,y,27,y,1.19,y,23,n,?

In [6]:
# check last 5 values in our data
df_hp.tail()

,hypothyroid,72,M,f,f.1,f.2,f.3,f.4,f.5,f.6,...,y.1,0.60,y.2,15,y.3,1.48,y.4,10,n,?
3157,negative,58,F,f,f,f,f,f,f,f,...,y,1.70,y,86,y,0.91,y,95,n,?
3158,negative,29,F,f,f,f,f,f,f,f,...,y,1.80,y,99,y,1.01,y,98,n,?
3159,negative,77,M,f,f,f,f,f,f,f,...,y,0.60,y,71,y,0.68,y,104,n,?
3160,negative,74,F,f,f,f,f,f,f,f,...,y,0.10,y,65,y,0.48,y,137,n,?
3161,negative,56,F,t,f,f,f,f,f,f,...,y,1.80,y,139,y,0.97,y,143,n,?

In [7]:
# check shape of our data
df_hp.shape

(3162, 26)

In [10]:
# check data types
df_hp.dtypes

hypothyroid    object
72             object
M              object
f              object
f.1            object
f.2            object
f.3            object
f.4            object
f.5            object
f.6            object
f.7            object
f.8            object
f.9            object
f.10           object
y              object
30             object
y.1            object
0.60           object
y.2            object
15             object
y.3            object
1.48           object
y.4            object
10             object
n              object
?              object
dtype: object

In [11]:
# check info about our data
df_hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hypothyroid  3162 non-null   object
 1   72           3162 non-null   object
 2   M            3162 non-null   object
 3   f            3162 non-null   object
 4   f.1          3162 non-null   object
 5   f.2          3162 non-null   object
 6   f.3          3162 non-null   object
 7   f.4          3162 non-null   object
 8   f.5          3162 non-null   object
 9   f.6          3162 non-null   object
 10  f.7          3162 non-null   object
 11  f.8          3162 non-null   object
 12  f.9          3162 non-null   object
 13  f.10         3162 non-null   object
 14  y            3162 non-null   object
 15  30           3162 non-null   object
 16  y.1          3162 non-null   object
 17  0.60         3162 non-null   object
 18  y.2          3162 non-null   object
 19  15           3162 non-null   object
 20  y.3          3162 non-null   object
 21  1.48         3162 non-null   object
 22  y.4          3162 non-null   object
 23  10           3162 non-null   object
 24  n            3162 non-null   object
 25  ?            3162 non-null   object
dtypes: object(26)
memory usage: 642.4+ KB

In [8]:

# funtion to check percentage of null values on each column
def perc_missing(data):
  # total sum of missing values
  sum_missing = data.isnull().sum().sort_values(ascending=False)

  #percentage of the total
  perc_total = (data.isnull().sum() / len(data)).sort_values(ascending=True)

  missing_values = pd.DataFrame(
      {
          "TOTAL MISSING": sum_missing,
          "PERCANTAGE":perc_total
      }
  )

  return missing_values

In [9]:
# Check percentage of missing values.
perc_missing(df_hp)

             TOTAL MISSING  PERCANTAGE
0.60                     0         0.0
1.48                     0         0.0
10                       0         0.0
15                       0         0.0
30                       0         0.0
72                       0         0.0
?                        0         0.0
M                        0         0.0
f                        0         0.0
f.1                      0         0.0
f.10                     0         0.0
f.2                      0         0.0
f.3                      0         0.0
f.4                      0         0.0
f.5                      0         0.0
f.6                      0         0.0
f.7                      0         0.0
f.8                      0         0.0
f.9                      0         0.0
hypothyroid              0         0.0
n                        0         0.0
y                        0         0.0
y.1                      0         0.0
y.2                      0         0.0
y.3                      0         0.0
y.4                      0         0.0

In [16]:
# Count number of unique values on each columns.
# main_data.nunique(axis = 0)

# unique values in each columns
for x in df_hp.columns:
    #prinfting unique values
    print(x ,':', len(df_hp[x].unique()))

hypothyroid : 2
age : 93
sex : 3
on_thyroxine : 2
query_on_thyroxine : 2
on_antithyroid_medication : 2
thyroid_surgery : 2
query_hypothyroid : 2
query_hyperthyroid : 2
pregnant : 2
sick : 2
tumor : 2
lithium : 2
goitre : 2
TSH_measured : 2
TSH : 240
T3_measured : 2
T3 : 70
TT4_measured : 2
TT4 : 269
T4U_measured : 2
T4U : 159
FTI_measured : 2
FTI : 281
TBG_measured : 2
TBG : 53

In [ ]:
#

## Data Cleaning

## ======= Observations for cleanining operations =========
1. We have no missing data
2. Most of our data is categorical not numerical.
3. Columns have to be renamed as per the hypothyroid names files
4. Our data contains '?' that might be a place holder for NULL values.

In [13]:
# rename columns
df_hp.rename(
    columns=({ 
    '72':'age',
    'M':'sex',
    'f':'on_thyroxine',
    'f.1':'query_on_thyroxine',
    'f.2':'on_antithyroid_medication',
    'f.3':'thyroid_surgery',
    'f.4':'query_hypothyroid',
    'f.5':'query_hyperthyroid',
    'f.6':'pregnant',
    'f.7':'sick',
    'f.8':'tumor',
    'f.9':'lithium',
    'f.10':'goitre',
    'y':'TSH_measured',
    '30':'TSH',
    'y.1':'T3_measured',
    '0.60':'T3',
    'y.2':'TT4_measured',
    '15':'TT4',
    'y.3':'T4U_measured',
    '1.48':'T4U',
    'y.4':'FTI_measured',
    '10':'FTI',
    'n':'TBG_measured',
    '?':'TBG'
    }), 
    inplace=True,
)

In [15]:
df_hp.head(1) # confirm change to columns

,hypothyroid,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?

In [17]:
# Since our data has "?" to represent missing values
# we shall replace them with numpy null values 
# then later on drop those values from our data sets
# new_cpy = main_data.copy()

for (columnName, columnData) in df_hp.iteritems():
  df_hp[columnName] = df_hp[columnName].replace(['?'], np.NAN)

In [19]:
# Now that we have replaced '?' with numpy null 
# values it means our data now has null missing values that
# we need to work on.....

# Check missing values
check = perc_missing(df_hp)

In [21]:
check

                           TOTAL MISSING  PERCANTAGE
FTI                                  247    0.078115
FTI_measured                           0    0.000000
T3                                   695    0.219798
T3_measured                            0    0.000000
T4U                                  248    0.078431
T4U_measured                           0    0.000000
TBG                                 2902    0.917774
TBG_measured                           0    0.000000
TSH                                  468    0.148008
TSH_measured                           0    0.000000
TT4                                  249    0.078748
TT4_measured                           0    0.000000
age                                  446    0.141050
goitre                                 0    0.000000
hypothyroid                            0    0.000000
lithium                                0    0.000000
on_antithyroid_medication              0    0.000000
on_thyroxine                           0    0.000000
pregnant                               0    0.000000
query_hyperthyroid                     0    0.000000
query_hypothyroid                      0    0.000000
query_on_thyroxine                     0    0.000000
sex                                   73    0.023087
sick                                   0    0.000000
thyroid_surgery                        0    0.000000
tumor                                  0    0.000000

In [ ]:
# From what we have seen above that we now have 
# null values let us do some preprocessing tasks
# like mean median or mean of null values
# drop first columns that have more tha

# Feature Engineering.

# Model Building and Testing.